#include "..\src\mameresource.h"
#include <os2.h>

DLGTEMPLATE SplashScreen 
BEGIN
	DIALOG "M.A.M.E. for OS/2!", 100, 244, 176, 220, 92, FS_NOMOVEWITHOWNER | FS_DLGBORDER | FS_SCREENALIGN | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS
	PRESPARAMS PP_BACKGROUNDCOLOR , 0x0L
	BEGIN
		CONTROL "", 101, 3, 22, 213, 66, "BitmapScaler", WS_VISIBLE
		CONTROL "", 102, 6, 4, 208, 13, "SplashScreenScroller", WS_VISIBLE
	END

END

MENU MameMenu 
BEGIN
	SUBMENU "~File", 100
	BEGIN
		MENUITEM "~Open game from quick list...", OpenGame
		MENUITEM "~Scan and create quick list...", CreateQList
		MENUITEM "~Add game to quick list...", AddToQList
		MENUITEM SEPARATOR
		MENUITEM "~ROM Search Path...", ROMSearchPath
		MENUITEM SEPARATOR
		MENUITEM "~Exit MAME", ExitMame
	END

	SUBMENU "~Game", 200
	BEGIN
//		MENUITEM "~Pause\t[P]", 201, , MIA_DISABLED
		MENUITEM "Full ~Reset", 202, , MIA_DISABLED
		MENUITEM "~Cheat", 210
		MENUITEM SEPARATOR
		SUBMENU "OS/2 Specific ~Options", 203
		BEGIN
			MENUITEM "~Input devices...", 206
			MENUITEM "~Allow keyboard LEDs to flash", 211
			MENUITEM SEPARATOR
			MENUITEM "~Sound Options...", 259
			MENUITEM "~Disable sound", 257
		END

		MENUITEM SEPARATOR
		MENUITEM "Pause if the ~window focus changes", 209, , MIA_CHECKED
		MENUITEM SEPARATOR
		MENUITEM "Cop~y screen shot to clipboard", 207
	END

	SUBMENU "~Display", 400
	BEGIN
		MENUITEM "Snap to ~Actual size", 401, , MIA_DISABLED
		MENUITEM "Snap to ~Double size", 402, , MIA_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "~Enable scan lines", 404
		MENUITEM "~Show FPS count", 405
		MENUITEM "~Frame rate regulation...", 407
		MENUITEM SEPARATOR
		MENUITEM "~Use TIMER0 for better frame timing", 406
		MENUITEM SEPARATOR
		MENUITEM "Full S~creen (not implemented)", 403, , MIA_DISABLED
	END

	SUBMENU "~About", 300
	BEGIN
		MENUITEM "~About MAME for OS/2", AboutMame
	END

	MENUITEM "\001\001\001\001", 500, MIS_STATIC, MIA_FRAMED
END

DLGTEMPLATE AboutDialog 
BEGIN
	DIALOG "About MAME for OS/2", 100, 135, 40, 339, 234, NOT FS_DLGBORDER | FS_SIZEBORDER | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_MAXBUTTON
	BEGIN
		CONTROL "M.A.M.E. for OS/2", 101, 5, 203, 328, 26, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "36.Times New Roman Bold Italic"
		CONTROL "Version .36 beta 7 (10/20/99)", 102, 9, 175, 321, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "OS/2 port by Marty Amodeo", 103, 9, 187, 321, 14, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "20.Helvetica Bold"
		CONTROL "This program was compiled using the Pentium GNU C Compiler (PGCC or EGCS) version 2.91.66.  Many thanks and much respect to the GNU and EMX developers, with much anger and remorse toward Sybase/Watcom.", 104, 16, 152, 306, 20, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "For a complete listing of credits, disclaimers, and the license agreement, please see the README.TXT file.  My unending respect goes out to those who produced drivers and emulation cores for which I can take absolutely no credit.", 105, 13, 44, 311, 20, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "Send bug reports to mamedev@stny.rr.com, but please try not to flood me with mail!  For a list of known deficiencies check my web site.", 106, 10, 27, 317, 13, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "~Let's Blast Some Alien Slime!", 107, 12, 4, 315, 17, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "16.Helvetica Bold"
PRESPARAMS PP_FOREGROUNDCOLOR , 0x963232L
		CONTROL "A very special thanks to Darrell Spice Jr., a veteran emulator porter, for the use of his joystick support routines and his help and information on MMPM/2 sound programming.", 108, 16, 105, 305, 20, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "A serious and sincere 'Thanks' to those in the OS/2 usenet groups who helped get me started and OS/2 Netlabs for maintaining a web page for me.  The new home of MAME for OS/2 is at http://emuos2.vintagegaming.com.  Go there for the latest info!", 109, 16, 128, 307, 20, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "For information on joystick programming and MMPM/2 playlists, visit the Spiceware homepage at http://www.geocities.com/~spiceware.", 110, 17, 93, 304, 13, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "Special thanks to David Schmidt for helping me debug several long-standing problems and generally being available to \x22look over my shoulders\x22.", 111, 16, 70, 303, 17, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END

END
DLGTEMPLATE Progress 
BEGIN
	DIALOG "Creating Quick List", 100, 63, 57, 207, 66, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR
	BEGIN
		CONTROL "Reading List of Directories", ReadingDirList, 21, 38, 166, 10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_NOCURSORSELECT | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP
		CONTROL "Verifying ROMs...", VerifyingROMs, 21, 28, 166, 10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_NOCURSORSELECT | BS_NOPOINTERFOCUS | WS_VISIBLE
		CONTROL "Recording Information...", RecordingInfo, 21, 18, 166, 10, WC_BUTTON, BS_AUTORADIOBUTTON | BS_NOCURSORSELECT | BS_NOPOINTERFOCUS | WS_VISIBLE
		CONTROL "Current Directory:", 105, 3, 52, 77, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", CurrentDirText, 89, 52, 107, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 107, 170, 22, 28, 23, "AnimatedROM", WS_VISIBLE
		CONTROL "", PercentBar, 8, 5, 191, 9, "MAME Percent Bar", WS_VISIBLE
	END

END

BITMAP 1 PRELOAD MOVEABLE DISCARDABLE "katie.bmp"
BITMAP 2 PRELOAD MOVEABLE DISCARDABLE "ForOS2.BMP"
BITMAP 3 PRELOAD MOVEABLE DISCARDABLE "Version.BMP"
BITMAP 4 PRELOAD MOVEABLE DISCARDABLE "PortedBy.BMP"
BITMAP 5 PRELOAD MOVEABLE DISCARDABLE "mame.bmp"
POINTER 1 femame.ico
POINTER 2 rom1.ICO
POINTER 3 rom2.ICO
POINTER 4 rom3.ICO
POINTER 5 rom4.ICO
POINTER 6 rom5.ICO
POINTER 7 rom6.ICO
POINTER 8 rom7.ICO
POINTER 9 rom8.ICO
POINTER 10 rom9.ICO
POINTER 11 MousetoTrack.ICO
POINTER 12 Key2Jstick.ICO
POINTER 13 Quarter1.ICO
POINTER 14 Quarter2.ICO
POINTER 15 Quarter3.ICO
POINTER 16 Quarter4.ICO
POINTER 17 Quarter5.ICO
POINTER 18 Quarter6.ICO
POINTER 19 Quarter7.ICO
POINTER 20 Quarter8.ICO
POINTER 21 Jstick.ICO
POINTER 22 mame.ico

DLGTEMPLATE InputDialog 
BEGIN
	DIALOG "MAME Input Options", 100, 118, 30, 319, 238, NOT FS_DLGBORDER | FS_SIZEBORDER | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_MAXBUTTON
	BEGIN
		CONTROL 12, 103, 20, 203, 21, 14, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL "Device enabled", KeyboardEnable, 48, 205, 88, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Rapid Fire Keys", 105, 158, 219, 146, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", RapidFireKeys, 158, 167, 145, 50, WC_LISTBOX, LS_HORZSCROLL | LS_MULTIPLESEL | LS_EXTENDEDSEL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Rapid Fire Rate (shots / sec.)", 107, 16, 182, 131, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", RapidFireRate, 48, 168, 61, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Mouse Options", 108, 6, 59, 306, 97, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Helvetica Bold Italic"
		CONTROL 11, 109, 20, 129, 18, 15, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL "Device enabled", MouseEnable, 48, 131, 88, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Mouse functions as joystick", MouseAsJoystick, 162, 131, 126, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "\x22Grab\x22 control of the mouse when MAME has the focus", GrabMouseFocus, 48, 116, 242, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Mouse will be released when MAME loses the focus (via. ALT-TAB / ALT-ESC / CTRL-ESC), or when your game is paused (with the P key)", 112, 13, 93, 291, 19, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Helvetica Italic"
		CONTROL "Flip the X-axis", FlipMouseX, 48, 82, 115, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Flip the Y-axis", FlipMouseY, 181, 82, 97, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Other mouse settings should be set in the Analog Setup (press TAB or choose Game Settings from the menu).", 117, 14, 62, 289, 16, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Joystick Options", 113, 6, 19, 306, 39, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Helvetica Bold Italic"
		CONTROL "Device enabled", JoyEnable, 48, 37, 88, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Calibrate", Calibrate, 147, 36, 99, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "10.Helv Italic"
		CONTROL "Cancel", DID_CANCEL, 6, 2, 90, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Apply Changes", DID_OK, 222, 2, 90, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Keyboard Options", 101, 6, 161, 306, 75, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Helvetica Bold Italic"
		CONTROL 21, 119, 20, 34, 18, 15, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL "", 120, 261, 23, 46, 27, "Calibrator", WS_VISIBLE
		CONTROL "To calibrate, click Calibrate and move stick.", 121, 49, 24, 202, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END



DLGTEMPLATE QuickList 
BEGIN
	DIALOG "MAME Quick List", 100, 87, 63, 368, 158, NOT FS_DLGBORDER | FS_SIZEBORDER | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_MAXBUTTON
	BEGIN
		CONTROL "", QuickListList, 18, 28, 134, 96, WC_LISTBOX, LS_HORZSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0xffffffL
PRESPARAMS PP_BACKGROUNDCOLOR , 0x969696L
PRESPARAMS PP_HILITEBACKGROUNDCOLOR , 0xc8c8c8L
PRESPARAMS PP_HILITEFOREGROUNDCOLOR , 0x0L
		CONTROL "->", AddToFav, 157, 98, 57, 11, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "-> !!", AddToFavAndRun, 157, 64, 57, 11, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "<-", RemoveFromFav, 157, 27, 57, 11, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", FavoritesListList, 217, 28, 134, 96, WC_LISTBOX, LS_HORZSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0xffffffL
PRESPARAMS PP_BACKGROUNDCOLOR , 0x969696L
PRESPARAMS PP_HILITEBACKGROUNDCOLOR , 0xc8c8c8L
PRESPARAMS PP_HILITEFOREGROUNDCOLOR , 0x0L
		CONTROL "Re-scan directories", ReScan, 18, 7, 91, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Cancel", DID_CANCEL, 139, 7, 91, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Run Game!!", RunGame, 261, 7, 91, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Currently available games on this system:", 102, 18, 140, 332, 11, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "14.Helvetica Bold Italic"
PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL 22, 103, 17, 138, 21, 17, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL 22, 104, 329, 138, 21, 17, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL "All games...", 108, 18, 126, 131, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Favorites...", 109, 217, 126, 131, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Add to Favorites List", 110, 157, 110, 56, 15, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.Helvetica"
PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "Add to Favorites List and Run", 112, 158, 76, 56, 16, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.Helvetica"
PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "Remove from Favorites List", 114, 158, 39, 55, 16, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.Helvetica"
PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
	END

END

DLGTEMPLATE StartupProgress 
BEGIN
	DIALOG "Starting game!!!", 100, 162, 69, 209, 107, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR
	PRESPARAMS PP_FONTNAMESIZE "11.Helvetica Bold"
	BEGIN
		CONTROL "Loading ROMs and decoding graphics...", 101, 10, 88, 190, 16, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "14.Helv Bold"
		CONTROL "", 102, 85, 7, 39, 31, "MAME Quarter Popper", WS_VISIBLE
		CONTROL 22, 103, 15, 7, 25, 20, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL 22, 104, 169, 7, 25, 20, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL "Currently Loading:", 105, 6, 74, 82, 11, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		CONTROL "None", CurrentLoadingRom, 97, 75, 103, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP
		CONTROL "", StartupPercent, 8, 52, 191, 9, "MAME Percent Bar", WS_VISIBLE
	END

END

DLGTEMPLATE AddOneDlg 
BEGIN
	DIALOG "Add a game to the quick list", 100, 153, 113, 221, 84, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", GameToAdd, 8, 26, 204, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 6, 3, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 60, 3, 51, 14
		CONTROL "Type the name of the game to add to the quick list.  I will search for this game's directory or ZIP file in all search paths specified.", 101, 6, 42, 206, 35, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE FrameSkipOptions 
BEGIN
	DIALOG "Frame Rate Regulation Options", 100, 157, -6, 217, 205, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
	BEGIN
		CONTROL "If the emulation is too fast...", 104, 5, 145, 207, 55, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Allow frames to be ~dropped", AutoSkip, 10, 119, 162, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Max # of consecutive dropped frames", 102, 12, 83, 149, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", MaxSkip, 170, 83, 34, 11, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Automatically ~slow down the emulation", AutoSlow, 10, 179, 187, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Cancel", DID_CANCEL, 5, 4, 60, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Apply", DID_OK, 144, 4, 60, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "This allows you to stay synchronized with the audio stream instead of letting the video get far ahead of it.", 105, 12, 149, 193, 26, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x646464L
		CONTROL "If the emulation is too slow...", 106, 5, 21, 207, 119, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "This will help speed things up by not drawing frames when the emulator falls behind.", 107, 11, 99, 194, 18, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x646464L
		CONTROL "If your computer just isn't fast enough to run some games but you still want to be able to play them, set this value to something non-zero.  Audio quality may suffer a bit, however.  For perfect audio, this value should be 0, meaning no limit.", 108, 11, 26, 194, 53, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x646464L
	END

END


DLGTEMPLATE AdvancedAudioDialog 
BEGIN
	DIALOG "Sound Options", 100, 14, 13, 479, 205, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
	BEGIN
		CONTROL "Audio Buffer Size:", 101, 9, 186, 89, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		CONTROL "", BufferSizeText, 129, 186, 48, 10, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Min:", 106, 10, 174, 31, 5, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "Max:", 107, 200, 174, 27, 5, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "I dunno yet", MinBufferSizeText, 10, 166, 38, 6, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "I dunno yet", MaxBufferSizeText, 188, 166, 39, 6, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "50", BufferSizeSlider, 10, 156, 219, 7, WC_SCROLLBAR, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Approximate Audio Latency:", 104, 10, 130, 116, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		CONTROL "", LatencyText, 129, 131, 48, 10, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "milliseconds", 110, 182, 130, 49, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		CONTROL "CAUTION:", 112, 9, 108, 42, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x963232L
		CONTROL "Do not adjust these values too low.  Doing so may produce erratic behavior with some sound drivers", 111, 53, 90, 174, 26, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x646464L
		CONTROL "Sound Subsystem to Use", 113, 8, 20, 221, 66, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		CONTROL "", SoundDriverListBox, 15, 40, 204, 35, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Description Goes Here", DescriptionText, 15, 23, 206, 13, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "Audio Quality Settings", 117, 250, 20, 221, 176, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Audio Frequency:", 116, 261, 173, 203, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~44 KHz", 118, 280, 162, 60, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "~33 KHz", 119, 280, 150, 60, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "~22 KHz", 120, 280, 138, 60, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "~11 KHz", 121, 353, 162, 60, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "~8 KHz", 122, 353, 150, 60, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "This setting affects how often data is sent to your sound card.  The higher the value, the higher quality of audio.  The lower the value, the less load on your CPU, possibly making emulation faster.", 123, 261, 87, 202, 45, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR, 0x646464L

		CONTROL "Audio Sample Size:", 124, 261, 72, 203, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "8 ~bit", 125, 280, 61, 60, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "1~6 bit", 126, 353, 61, 60, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "8 bit mode is easier on your CPU.  16 bit is better quality.", 128, 261, 39, 199, 19, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x646464L
		CONTROL "~Enable stereo output on supported games", 127, 261, 26, 192, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "~Cancel", DID_CANCEL, 8, 3, 77, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Ok", DID_OK, 394, 3, 77, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE Features 
BEGIN
	DIALOG "Features in this version of MAME", 100, 14, 44, 334, 172, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
	BEGIN
		CONTROL "", FeatureTitle, 11, 26, 148, 127, WC_LISTBOX, LS_HORZSCROLL | LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Feature", 102, 12, 158, 145, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | WS_GROUP
		CONTROL "The feature description should be placed in here.", 103, 170, 26, 149, 100, WC_MLE, MLS_BORDER | MLS_READONLY | MLS_WORDWRAP | MLS_VSCROLL | MLS_IGNORETAB | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "12.Times New Roman Italic"

		CONTROL "Description", 104, 172, 131, 145, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE | WS_GROUP
		CONTROL "Added in version:", 105, 172, 144, 61, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"

		CONTROL "Dimehappy", AddedInVersion, 244, 143, 73, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"

		CONTROL "Ok", DID_OK, 104, 5, 127, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

DLGTEMPLATE ROMLocations 
BEGIN
	DIALOG "Where to find ROMs...", 100, 14, 58, 293, 149, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
	BEGIN
		CONTROL "", ROMLocationListBox, 8, 43, 276, 98, WC_LISTBOX, LS_HORZSCROLL | LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Add", AddROMLoc, 8, 22, 41, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", ROMLocationText, 57, 24, 169, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Remove", RemoveROMLoc, 9, 5, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Browse...", LocationBrowse, 234, 22, 50, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "~Cancel", DID_CANCEL, 126, 5, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Ok", DID_OK, 243, 5, 40, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END
